*{
    padding: 0;
    margin: 0;
    border-radius: 50px;
    border-color: red;
}

header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


div h1{
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
    margin-bottom: 70px;
}

.equipamentos h4{
    text-align: center;
    margin: 20px;
    font-size:20px ;
}

.equipamentos h4 input{
    border-radius: 10px;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    margin-left: 10px;
    padding-left: 20px;

}

.cadastrar input{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: 800;
    margin-top: 70px;
    margin-left: 45%;
    cursor: pointer;
}